/* Comments */
*,
*::after,
*::before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

*:focus:not(:focus-visible) {
   outline: none;
}

html,
body {
   font-size: 62.5%;
}

body {
   font-family: "Noto Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings:
      "wdth" 100;
}

body {
   /* Для вызова затемнённого меню */
   position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

a {
   text-decoration: none;
}

button {
   cursor: pointer;
}

label,
input,
button {

   &:hover,
   &:active,
   &:focus {
      outline: 0;
      outline-offset: 0;
   }
}

ul {
   text-decoration: none;
   list-style: none;
}

.center {
   padding-left: calc(50% - 60.0rem);
   padding-right: calc(50% - 60.0rem);
}

.container {
   display: flex;
   max-width: 120.0rem;
   padding-left: 15px;
   padding-right: 15px;
}

.dark-bg {
   position: fixed;
   transform: translateX(-100%);
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0);
   z-index: 100;
   transition: transform .5s, background-color .5s;

   &--shown {
      transform: translateX(0);
      background-color: rgba(0, 0, 0, .5);
   }

   &__container {
      position: relative;
      width: 100%;
      height: 100vh;
   }

   &__burger-menu {
      position: absolute;
      top: 0;
      left: 15px;
      z-index: 50;
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 300px;
      max-height: 495px;
      background-color: #F1C9A5;
      padding: 20px 20px 30px;
      transition: opacity 0.5s ease-out 0.2s;

      &_hidden {
         display: none;
      }

      & ul {
         margin-bottom: 30px;
         width: 100%;
      }

      &-cross {
         cursor: pointer;
         margin-bottom: 60px;
      }

      &-item {
         border-bottom: #8B4513 1px solid;
         padding-bottom: 15px;

         &:not(:first-child) {
            margin-top: 15px;
         }

         & a {
            color: #8B4513;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;

            & img {
               margin-left: 10px;
            }
         }
      }

      & .header__social {
         max-width: 209px;
         align-self: center;
      }

      & .header__social__item {
         width: 50px;
         height: auto;
      }
   }

   &__burger-consult {
      position: absolute;
      top: 0;
      left: 15px;
      opacity: 0;
      z-index: 20;
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 300px;
      max-height: 495px;
      background-color: #F1C9A5;
      padding: 20px 20px 30px;
      transition: opacity 0.5s ease-in-out;

      &_hidden {
         display: none;
      }

      & ul {
         /* margin-bottom: 30px; */
         width: 100%;
      }

      &-cross {
         cursor: pointer;
         margin-bottom: 60px;
      }

      &>a {
         display: block;
         width: 100%;
         color: #8B4513;
         font-size: 14px;
         font-weight: 500;
         text-decoration: none;
         text-transform: uppercase;
         padding-bottom: 15px;
         border-bottom: #8B4513 1px solid;

         & img {
            margin-right: 10px;
         }
      }

      &-item {
         /* border-bottom: #8B4513 1px solid; */
         /* padding-bottom: 15px; */

         &:not(:first-child) {
            margin-top: 20px;
         }

         &:first-child {
            margin-top: 15px;
         }

         & a {
            color: #8B4513;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            /* text-transform: uppercase; */

            & img {
               margin-left: 10px;
            }
         }
      }

      & .header__social {
         max-width: 209px;
         align-self: center;
      }

      & .header__social__item {
         width: 50px;
         height: auto;
      }
   }

   &__burger-artifacts {
      position: absolute;
      top: 0;
      left: 15px;
      opacity: 0;
      z-index: 20;
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 300px;
      max-height: 495px;
      background-color: #F1C9A5;
      padding: 20px 20px 30px;
      transition: opacity 0.5s ease-in-out;

      &_hidden {
         display: none;
      }

      & ul {
         /* margin-bottom: 30px; */
         width: 100%;
      }

      &-cross {
         cursor: pointer;
         margin-bottom: 60px;
      }

      &>a {
         display: block;
         width: 100%;
         color: #8B4513;
         font-size: 14px;
         font-weight: 500;
         text-decoration: none;
         text-transform: uppercase;
         padding-bottom: 15px;
         border-bottom: #8B4513 1px solid;

         & img {
            margin-right: 10px;
         }
      }

      &-item {
         /* border-bottom: #8B4513 1px solid; */
         /* padding-bottom: 15px; */

         &:not(:first-child) {
            margin-top: 20px;
         }

         &:first-child {
            margin-top: 15px;
         }

         & a {
            color: #8B4513;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            /* text-transform: uppercase; */

            & img {
               margin-left: 10px;
            }
         }
      }

      & .header__social {
         max-width: 209px;
         align-self: center;
      }

      & .header__social__item {
         width: 50px;
         height: auto;
      }
   }
}

.header {
   position: relative;
   z-index: 10;
   margin: 0 auto;
   background-color: #F1C9A5;
   box-shadow: 0px 2px 8px 4px #9B9773;

   &__container {
      position: relative;
      justify-content: space-between;
      align-items: center;
      padding-top: 2.7rem;
      padding-bottom: 2.7rem;
   }

   &__cart-menu {
      position: absolute;
      z-index: 150;
      bottom: 0;
      right: 0;
      transform: translateY(100%);
      width: 410px;
      height: 487px;
      background-color: #F2E8DE;
      padding: 30px;
   }

   &__burger__icon {
      display: none;
      cursor: pointer;
   }

   &__logo {
      color: #fff;
      font-size: 2.4rem;
      font-weight: 500;
   }

   &__nav {
      display: flex;
      gap: 30px;
      /* gap: 3rem; */

      &__item {
         color: #8B4513;
         font-size: 1.4rem;
         text-transform: uppercase;
         font-weight: 500;
         /* Подчёркивание при наведении. Верхняя граница для компенсации смещения */
         border-bottom: rgba(242, 232, 222, 0) 3px solid;
         border-top: rgba(242, 232, 222, 0) 3px solid;
         padding-top: 2px;
         padding-bottom: 2px;
         transition: border-bottom 0.2s ease-in;

         &:hover {
            border-bottom: rgba(242, 232, 222, 1) 3px solid;
         }
      }
   }

   &__social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;

      /* Родительский блок для каждой иконки */
      &__item {
         width: 38px;
         height: 38px;
         /* Обрезаем по окружности его содержимое */
         border-radius: 50%;
         overflow: hidden;
      }

      &__telegram {
         fill: #F1C9A5;
      }

      /* Окружность вокруг иконки */
      &__telegram-circle {
         stroke: #8B4513;
         transition: all 0.3s;
      }

      /* При наведении закрашиваем фон иконки и окружность */
      &__telegram:hover &__telegram-circle {
         fill: #37AEE2;
         stroke: #37AEE2;
      }

      &__whatsup {
         fill: #F1C9A5;
      }

      &__whatsup-circle {
         stroke: #8B4513;
         transition: all 0.3s;
      }

      &__whatsup:hover &__whatsup-circle {
         fill: #25D366;
         stroke: #25D366;
      }

      &__vk {
         fill: #F1C9A5;
      }

      &__vk-circle {
         stroke: #8B4513;
         transition: all 0.3s;
      }

      &__vk:hover &__vk-circle {
         fill: #4C6C91;
         stroke: #4C6C91;
      }
   }

   &__cart {
      /* "Поглащает" выступающий счётчик, сохраняя общий padding блока header */
      padding-right: 2.0rem;
      cursor: pointer;

      &__image {
         position: relative;

         & img {
            /* width: 3.6rem;
            height: 3.5rem; */
            width: 36px;
            height: 35px;
         }
      }

      &__counter {
         /* width: 2.0rem;
         height: 2.0rem; */
         width: 20px;
         height: 20px;
         position: absolute;
         /* top: -0.5rem;
         right: -1.0rem; */
         top: -5px;
         right: -10px;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: red;
         border-radius: 50%;
         color: #fff;
         /* font-size: 1.2rem; */
         font-size: 12px;
      }

   }

}

.dark {
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 100;
   /* transform: translateX(-100%); */

   &__header {
      position: fixed;
      left: 0;
      top: 0;
   }
}

.cart {
   &__items {
      display: flex;
      flex-direction: column;
   }

   &__item {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
   }

   &__header {
      font-size: 14px;
      text-transform: uppercase;
      color: #2a2a2a;
   }

   &__price-block {
      justify-content: start;
      align-items: center;
   }

   &__price,
   &__counter {
      font-size: 16px;
      font-weight: 500;
   }
}

.hero {
   --header-color: #fff;
   margin: 0 auto;
   background-image: url('../images/main/hero/main_bg.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-position-y: top;

   height: 54vw;

   &__container {
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      gap: 33px;
      align-items: center;

      &__title {
         margin-top: 10.3rem;
         font-family: "Cinzel Decorative", serif;
         font-weight: 400;
         font-style: normal;
         font-size: 9.6rem;
         line-height: 135%;
         color: var(--header-color);
      }

      &__text {
         font-size: 3.2rem;
         line-height: 121%;
         font-family: "Cormorant Infant", serif;
         font-weight: 500;
         font-style: normal;
         max-width: 56.5rem;
         text-align: center;
         color: #fff;
      }
   }

   &__drop__consult {
      position: absolute;
      top: 0;
      left: 26%;
      width: 230px;
      max-height: 274px;
      padding: 20px 20px 27px;
      background-color: #F1C9A5;
      border: .5px solid rgba(139, 69, 19, .3);
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: 1px 4px 0px 1px rgba(139, 69, 19, .2);
      transition: transform .5s;

      &__menu {
         width: 100%;
      }

      &__item {
         display: block;
         width: calc(100% + 40px);
         margin-left: -20px;

         &:hover {
            background-color: #F2E8DE;
            cursor: pointer;
         }
      }

      &__item~&__item {
         margin-top: 8px;
      }

      &__anchor {
         font-size: 14px;
         font-weight: 500;
         color: #8B4513;
         margin-left: 20px;
      }
   }

   &__drop__artifacts {
      position: absolute;
      top: 0;
      left: 38%;
      width: 230px;
      max-height: 274px;
      padding: 20px 20px 27px;
      background-color: #F1C9A5;
      border: .5px solid rgba(139, 69, 19, .3);
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      box-shadow: 1px 4px 0px 1px rgba(139, 69, 19, .2);
      transition: transform .5s;

      &__menu {
         width: 100%;
      }

      &__item {
         display: block;
         width: calc(100% + 40px);
         margin-left: -20px;

         &:hover {
            background-color: #F2E8DE;
            cursor: pointer;
         }
      }

      &__item~&__item {
         margin-top: 8px;
      }

      &__anchor {
         font-size: 14px;
         font-weight: 500;
         color: #8B4513;
         margin-left: 20px;
      }
   }

   &__drop__hidden {
      transform: translateY(-100%);
   }

   &__drop__shown {
      transform: translateY(0);
   }

}

.about {
   background-color: #F2E8DE;
   padding-top: 12.0rem;
   padding-bottom: 6.0rem;
   height: 76rem;

   &__container {
      width: 100%;
      /* min-height: 76.0rem; */
      min-height: 58.0rem;
      /* background-color: cyan; */
      position: relative;
   }

   &__image {
      position: absolute;
      z-index: 10;
      width: 48.72%;
      left: 1.0rem;
      border-radius: 1.0rem;
      overflow: hidden;

      & img {
         width: 100%;
      }
   }

   &__info {
      position: absolute;
      width: 57.26%;
      right: 1.0rem;
      top: 50%;
      transform: translateY(-50%);
      padding: 4.0rem 6.0rem 4.0rem 13.0rem;
      border-radius: 1.0rem;
      overflow: hidden;
      z-index: 10;
      background-color: rgba(241, 201, 165, 0.6);
      /* opacity: 0.6; */

      &__header {
         color: #8B4513;
         font-size: 4.8rem;
         font-weight: 500;
         opacity: 1.0;
         margin-bottom: 2rem;
         /* margin-top: 4rem; */
      }

      &__text {
         color: #2A2A2A;
         font-size: 1.8rem;
         line-height: 130%;
      }
   }

   &__rectangle {
      position: absolute;
      left: -78px;
      top: 115px;
      min-width: 180px;
      min-height: 600px;
      background-color: #F1C9A5;
      border-radius: 1.0rem;
   }
}

.consult {
   background-color: #fff;
   padding-top: 12rem;
   padding-bottom: 6rem;

   &__title {
      width: 100%;
      overflow: hidden;
      display: flex;
      /* justify-content: space-between; */
      justify-content: center;
      gap: 4rem;
      align-items: center;
      margin-bottom: 6rem;
   }

   &__header {
      color: #8B4513;
      font-size: 4.8rem;
      font-weight: 400;
   }

   &__line {
      height: 0;
      width: 80vw;
      border: 1px solid #F1C9A5;
      margin-top: 5px;
   }

   &__container {
      display: flex;
      flex-direction: column;
      /*       padding-left: 20px;
      padding-right: 20px; */
   }

   &__opened {
      position: relative;
      display: flex;
      justify-content: space-between;

      &__img {
         width: 48.7%;
         z-index: 10;
         margin-top: 5.6rem;
         border-radius: 1rem;
         overflow: hidden;

         & img {
            width: 100%;
         }
      }

      &__info {
         position: absolute;
         right: 0;
         display: flex;
         flex-direction: column;
         background-image: url('../images/main/consult/bg_img.png');
         background-color: rgba(242, 232, 222, 1);
         background-position: center;
         background-repeat: no-repeat;
         border-radius: 1rem;
         padding-top: 5.6rem;
         padding-bottom: 3rem;
         padding-left: 50rem;
         padding-right: 4rem;
         width: 1070px;

         /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
            url("../../media/examples/lizard.png"); */
      }

      &__title {
         font-size: 4rem;
         color: #8B4513;
         font-weight: 500;
         margin-bottom: 20px;
      }

      &__text {
         font-size: 18px;
         color: #2A2A2A;
         margin-bottom: 185px;
         line-height: 136%;
         letter-spacing: -0.3px;
      }

      &__btns {
         display: flex;
         justify-content: space-between;
         gap: 10px;
      }

      &__more-btn,
      &__all-btn {
         /* padding: 1.2rem 4.5rem; */
         padding-top: 12px;
         padding-bottom: 12px;
         padding-left: 45px;
         padding-right: 45px;
         border-radius: 10px;
         border-color: brown;
         font-size: 1.8rem;
      }

      &__more-btn {
         background-color: #8B4513;
         color: #fff;

         &:hover {
            background-color: #A66321;
         }
      }

      &__all-btn {
         color: #8B4513;

         &:hover {
            background-color: #A66321;
            color: #fff;

         }
      }
   }

   &__closed {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 60px;

      &__img {
         position: relative;
         max-width: 370px;
         border-radius: 10px;
         overflow: hidden;
         /* margin-top: 30px; */

         & img {
            width: 100%;
         }
      }

      &__badge {
         position: absolute;
         min-width: 200px;
         padding-top: 14px;
         padding-bottom: 14px;
         border: none;
         border-top-right-radius: 10px;
         border-bottom-right-radius: 10px;
         background-color: rgba(241, 201, 165, 0.6);
         top: 45px;
         left: 0;
         font-size: 24px;
         line-height: 130%;
         font-weight: 800;
         color: #2A2A2A;
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
}

.diploma {
   position: relative;
   background-color: rgba(241, 201, 165, 0.27);
   padding-top: 12rem;
   padding-bottom: 6rem;
   height: 70.5rem;

   &__container {
      /* position: relative; */
      display: flex;
      flex-direction: column;
      overflow: hidden;
   }

   &__title {
      display: flex;
      align-items: center;
      margin-bottom: 6rem;
      gap: 4rem;
   }

   &__header {
      color: #8B4513;
      font-size: 4.8rem;
      font-weight: 400;
      /* margin-bottom: 6rem; */
   }

   &__line {
      width: 199px;
      height: 0;
      border: 1px solid #F1C9A5;
      margin-top: 5px;
      /* display: inline; */
   }

   &__bg-img {
      position: absolute;
      right: 0%;
      bottom: 20%;

      & img {
         width: 100%;
      }
   }

   &__images {
      align-self: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      z-index: 10;
   }
}

.about-us {
   padding-top: 12rem;
   padding-bottom: 6rem;

   &__container {
      /* position: relative; */
      display: flex;
      flex-direction: column;
      overflow: hidden;
   }

   &__title {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      margin-bottom: 6rem;
      gap: 4rem;
      /* margin-bottom: 60px; */
   }

   &__header {
      color: #8B4513;
      font-size: 4.8rem;
      font-weight: 400;
      white-space: nowrap;
      /* margin-bottom: 6rem; */
   }

   &__line {
      width: 100%;
      height: 0;
      border: 1px solid #F1C9A5;
      margin-top: 5px;
      /* display: inline; */
   }

   &__videos {
      display: flex;
      gap: 2.57%;
      flex-direction: row;
   }

   &__main {
      &__video {
         max-width: 77rem;
         width: 65.81%;

         & img {
            width: 100%;
         }
      }

      &__wraper {
         width: 100%;
         position: relative;

      }

      &__frame {
         position: absolute;
         border: none;
         width: 92.857%;
         left: 50%;
         transform: translateX(-50%);
         top: 4.5%;
         /* top: 50%; */
         /* transform: translateY(-50%); */
      }

      &__btn {
         position: absolute;
         width: 11rem;
         height: 11rem;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         border-radius: 50%;
         background: linear-gradient(#F03319, #C7301B);
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;

         & img {
            width: 4rem;
            height: 3.4rem;
         }
      }
   }

   &__aside {
      &__videos {
         display: flex;
         flex-direction: column;
         max-width: 37rem;
         width: 31.62%;
         gap: 2rem;
      }

      &__first,
      &__second {
         width: 100%;
         position: relative;

         & img {
            width: 100%;
         }
      }

      &__first,
      &__second,
      &__more {
         border-radius: 10px;
         overflow: hidden;
      }

      &__more {
         background-color: #8B4513;

         &:hover {
            background-color: #A66321;
         }

         & a {
            display: flex;
            flex-direction: row;
            padding: 5.6rem 3.5rem 6.1rem;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
         }
      }

      &__img {
         width: 56%;

         & img {
            width: 100%;
         }
      }

      &__text {
         color: #fff;
         /* font-size: 3.2rem; */
         font-size: 32px;
         line-height: 140%;
         text-transform: uppercase;
         text-align: center;
      }

      &__btn {
         position: absolute;
         width: 6.6rem;
         height: 6.6rem;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         border-radius: 50%;
         background: linear-gradient(#F03319, #C7301B);
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;

         & img {
            width: 2, 4rem;
            height: 2rem;
         }
      }
   }
}

.reviews {
   /* height: 72rem; */
   padding-top: 12rem;
   padding-bottom: 6rem;
   background-image: url('../images/main/reviews/reviews_bg.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: start;
   }

   &__stars {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 8px;
      /* max-width: 48%; */
      width: 48%;
      margin-top: -3rem;

      &__header {
         font-size: 48px;
         color: #fff;
         font-weight: 400;
         /* margin-bottom: 8px; */
      }

      &__images {
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 20px;

         & img {
            width: 45px;
            height: 45px;
         }
      }
   }

   &__card {
      /* position: relative; */
      /* padding-top: 14rem; */
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;
      background-color: #fff;
      border-radius: 10px;
      width: 48%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__img {
         /*          position: absolute;
         top: -3rem; */
         margin-top: -30px;
         margin-bottom: 20px;
         width: 150px;
         height: 150px;

         & img {
            width: 100%;
         }
      }

      &__name {
         color: #8B4513;
         font-size: 3.2rem;
         font-weight: 500;
         margin-bottom: 10px;
      }

      &__line {
         border: 0.5px solid #F1C9A5;
         width: 100%;
         height: 0;
         margin-bottom: 50px;
      }

      &__quote-mark {
         margin-bottom: 25px;

         & img {
            width: 100%;
         }
      }

      &__text {
         font-size: 18px;
         color: #2A2A2A;
         text-align: center;
         line-height: 145%;
         margin-bottom: 64px;
      }

      &__arrows {
         display: flex;
         gap: 20px;
      }

      &__arrow-left,
      &__arrow-right {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 36px;
         height: 36px;
         background-color: #F1C9A5;
         cursor: pointer;
      }
   }
}

.news {
   padding-top: 12rem;
   padding-bottom: 6rem;
   background-color: #fff;

   &__container {
      display: flex;
      flex-direction: column;
   }

   &__title {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      margin-bottom: 6rem;
      gap: 4rem;
   }

   &__header {
      color: #8B4513;
      font-size: 4.8rem;
      font-weight: 400;
      /* margin-bottom: 6rem; */
   }

   &__line {
      width: 100%;
      height: 0;
      border: 1px solid #F1C9A5;
      margin-top: 5px;
      /* display: inline; */
   }

   &__info {
      display: flex;
      /* gap: 3rem; */
      gap: 3%;
      justify-content: space-between;
   }

   &__main {
      max-width: 49%;

      &__img {
         width: 100%;
         margin-bottom: 1.5rem;
         border-radius: 10px;
         overflow: hidden;

         & img {
            width: 100%;
         }
      }

      &__text {
         font-size: 2.4rem;
         font-weight: 500;
         color: #2A2A2A;
         line-height: 135%;
      }
   }

   &__aside {
      max-width: 48%;

      &__info {
         /* width: 100%; */
         display: flex;
         justify-content: space-between;
         align-items: center;
         gap: 3rem;

         &:not(:last-child) {
            margin-bottom: 2.2rem;
         }

         &:not(:first-child) {
            margin-top: 2.2rem;
            padding-top: 2.2rem;
            border-top: 0.5px solid #F1C9A5;
         }

         &>a {
            display: block;
            width: 60%;
         }
      }

      &__text {
         color: #2A2A2A;
         font-size: 1.8rem;
         font-weight: 500;
         line-height: 135%;
      }

      &__img {
         width: 36%;
         border-radius: 10px;
         overflow: hidden;

         & a {
            display: block;
            width: 100%;
            box-sizing: border-box;
         }

         & img {
            width: 100%;
         }
      }
   }
}

.footer {
   margin: 0 auto;
   background-color: #F1C9A5;
   border: #9B9773 0.1rem solid;

   &__container {
      justify-content: space-between;
      align-items: center;
      padding-top: 2.1rem;
      padding-bottom: 2.1rem;
   }

   &__copyright {
      color: #8B4513;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 2.0rem;
      font-size: 1.4rem;
      font-weight: 400;
   }
}

.get-visible {
   opacity: 1;
   z-index: 50;
   /* display: block; */
}

.get-invisible {
   opacity: 0;
   z-index: 20;
   /* display: none; */
}

@media(max-width:1920px) {
   .hero__container__title {
      margin-top: calc(53px + (103 - 53) * ((100vw - 1200px) / (1920 - 1200)));
   }

   .diploma {
      &__bg-img {
         right: calc(0px + (290 - 0) * ((100vw - 1200px) / (1920 - 1200)));
      }
   }
}

@media(max-width:1200px) {

   html,
   body {
      font-size: calc(5px + (10 - 5) * ((100vw - 360px) / (1200 - 360)));
   }

   .header {

      &__nav {
         gap: calc(10px + (30 - 10) * ((100vw - 768px) / (1200 - 768)));
      }
   }

   .hero {
      &__container {
         gap: calc(10px + (33 - 10) * ((100vw - 768px) / (1200 - 768)));
      }
   }

   .about {
      height: calc(100vw / 1200 * 760);
      padding-top: calc(100vw / 1200 * 120);
      padding-bottom: calc(100vw / 1200 * 60);

      &__container {
         min-height: calc(100vw / 1200 * 580);
      }

      &__rectangle {
         min-width: calc(100vw / 1200 * 180);
         min-height: calc(100vw / 1200 * 600);
         left: calc(100vw / 1200 * (-78));
         top: calc(100vw / 1200 * 115)
      }
   }

   .consult {

      &__opened {
         &__title {
            font-size: calc(30px + (40 - 30) * ((100vw - 768px) / (1200 - 768)));
         }

         &__info {
            padding-left: calc(350px + (500 - 350) * ((100vw - 768px) / (1200 - 768)));
            padding-right: calc(20px + (40 - 20) * ((100vw - 768px) / (1200 - 768)));
            width: calc(710px + (1070 - 710) * ((100vw - 768px) / (1200 - 768)));
         }

         &__text {
            margin-bottom: calc(60px + (185 - 60) * ((100vw - 768px) / (1200 - 768)));
            font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));
         }

         &__more-btn,
         &__all-btn {
            /* padding-top: 12px;
            padding-bottom: 12px; */
            padding-left: calc(30px + (45 - 30) * ((100vw - 768px) / (1200 - 768)));
            padding-right: calc(30px + (45 - 30) * ((100vw - 768px) / (1200 - 768)));
            border-radius: 10px;
            font-size: 18px;
         }
      }

      /*       &__closed {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         margin-top: 30px;

         &__img {
            max-width: 370px;
         }
      } */
   }

   .diploma {

      &__header {
         font-size: calc(34px + (48 - 34) * ((100vw - 360px) / (1200 - 360)));
      }

      &__bg-img {
         position: absolute;
         right: 0%;
         bottom: 20%;
         width: calc(360px + (740 - 360) * ((100vw - 768px) / (1200 - 768)));

         & img {
            width: 100%;
         }
      }

      &__images {
         gap: calc(20px + (30 - 20) * ((100vw - 360px) / (1200 - 360)));
      }

      &__main-img {
         width: calc(260px + (570 - 260) * ((100vw - 360px) / (1200 - 360)));
         height: auto;

         & img {
            width: 100%;
         }
      }

      &__left-img,
      &__right-img {
         width: calc(180px + (270 - 180) * ((100vw - 360px) / (1200 - 360)));
         height: auto;

         & img {
            width: 100%;
         }
      }
   }

   .about-us {
      &__header {
         font-size: calc(34px + (48 - 34) * ((100vw - 360px) / (1200 - 360)));
      }

      &__aside {
         &__text {
            font-size: calc(20px + (32 - 20) * ((100vw - 768px) / (1200 - 768)));
         }
      }
   }

   .reviews {
      &__stars {
         &__header {
            font-size: calc(34px + (48 - 34) * ((100vw - 360px) / (1200 - 360)));
         }

         &__images {
            & img {
               width: calc(36px + (45 - 36) * ((100vw - 360px) / (1200 - 360)));
            }
         }
      }

      &__card {
         padding-left: calc(10px + (40 - 10) * ((100vw - 360px) / (1200 - 360)));

         padding-right: calc(10px + (40 - 10) * ((100vw - 360px) / (1200 - 360)));

         &__name {
            font-size: calc(28px + (32 - 28) * ((100vw - 360px) / (1200 - 360)));
         }

         &__line {
            margin-bottom: calc(30px + (50 - 30) * ((100vw - 360px) / (1200 - 360)));
         }

         &__quote-mark {
            width: calc(30px + (37 - 30) * ((100vw - 360px) / (1200 - 360)));
         }

         &__text {
            font-size: calc(13px + (18 - 13) * ((100vw - 360px) / (1200 - 360)));
         }
      }
   }

   .news {
      &__header {
         font-size: calc(34px + (48 - 34) * ((100vw - 360px) / (1200 - 360)));
      }

      &__main {
         &__text {
            font-size: calc(14px + (24 - 14) * ((100vw - 360px) / (1200 - 360)));
         }
      }

      &__aside {
         &__text {
            font-size: calc(14px + (18 - 14) * ((100vw - 360px) / (1200 - 360)));
         }
      }
   }
}

@media(max-width:768px) {
   .header {
      &__container {
         padding: 20px 20px;
      }

      &__burger__icon {
         display: block;
      }

      &__logo {
         font-size: 24px;
      }

      /* Прячем навигационное меню и иконки соцсетей,
      но только в шапке и подвале */
      &__nav,
      footer &__social,
      header &__social {
         display: none;
      }
   }

   .hero {
      /* Смотрится нормально на w360px */
      /* background-position-x: 41%; */
      /* background-size: 185% 100%; */
      /* aspect-ratio: 1029 / 1344; */

      height: calc(470px + (414.72 - 470) * ((100vw - 360px) / (768 - 360)));

      background-position-y: top;

      background-size: calc(684px + (768 - 684) * ((100vw - 360px) / (768 - 360))) 100%;

      background-position-x: calc(-128px + (128 - 0) * ((100vw - 360px) / (768 - 360)));

      &__container {
         gap: 0;

         &__title {
            font-size: calc(64px + (71.3 - 64) * ((100vw - 360px) / (768 - 360)));
            margin-top: calc(30px - (30 - 23) * ((100vw - 360px) / (768 - 360)));
         }

         &__text {
            font-size: calc(28px - (28 - 23.77) * ((100vw - 360px) / (768 - 360)));
            font-weight: 400;
            max-width: 320px;
         }
      }
   }

   .about {
      height: auto;
      padding-top: calc(60px + (78.8 - 60) * ((100vw - 360px) / (768 - 360)));
      padding-bottom: calc(30px + (38.4 - 30) * ((100vw - 360px) / (768 - 360)));

      &__container {
         position: static;
         padding-right: 0;
         padding-left: 0;
         min-height: 0;
         display: flex;
         flex-direction: column-reverse;
         align-items: center;
      }

      &__image {
         position: static;
         z-index: 0;
         width: 100%;
         border-radius: 0;
      }

      &__info {
         position: static;
         z-index: 0;
         width: 100%;
         transform: translateY(0);
         border-radius: 0;
         padding-left: 20px;
         padding-right: 20px;
         padding-top: calc(30px + (29.714 - 30) * ((100vw - 360px) / (768 - 360)));
         padding-bottom: calc(30px + (29.714 - 30) * ((100vw - 360px) / (768 - 360)));


         &__header {
            color: #8B4513;
            font-weight: 500;
            opacity: 1.0;
            margin-bottom: calc(20px + (14.857 - 20) * ((100vw - 360px) / (768 - 360)));
            font-size: calc(34px + (35.657 - 34) * ((100vw - 360px) / (768 - 360)));
         }

         &__text {
            color: #2A2A2A;
            font-size: calc(14px + (13.371 - 14) * ((100vw - 360px) / (768 - 360)));
         }
      }

      &__rectangle {
         position: static;
         display: none;
      }
   }

   .consult {
      padding-top: 12rem;
      padding-bottom: 6rem;

      &__title {
         flex-direction: column;
         align-items: start;
         gap: 0;
      }

      &__line {
         width: 100%;
      }

      &__header {
         font-size: calc(34px + (35.657 - 34) * ((100vw - 360px) / (768 - 360)));
      }

      &__container {
         display: flex;
         flex-direction: column;
         align-items: center;
         /*          padding-left: 20px;
         padding-right: 20px; */
      }

      &__opened {
         position: static;
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         &__img {
            width: 100%;
            z-index: 0;
            margin-top: 0;
            border-radius: 0;

            & img {
               width: 100%;
            }
         }

         &__info {
            position: static;
            border-radius: 0;
            padding-top: 5.6rem;
            padding-bottom: 3rem;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;

            /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png"); */
         }

         &__title {
            font-size: 30px;
         }

         &__text {
            margin-bottom: calc(30px + (60 - 30) * ((100vw - 360px) / (768 - 360)));
            /*             font-size: 1.8rem;
            color: #2A2A2A;
            margin-bottom: 185px;
            line-height: 136%; */
         }

         &__btns {
            display: flex;
            justify-content: space-between;
            /* gap: 10px; */
         }
      }

      &__closed {
         gap: 0;
         margin-top: 0;

         &__img {
            margin-top: 20px;
            border-radius: 0;
         }
      }
   }

   .diploma {
      &__title {
         width: 100%;
         flex-direction: column;
         gap: 0;
      }

      &__header {
         align-self: flex-start;
      }

      &__line {
         width: 100%;
      }

      &__bg-img {
         display: none;
      }
   }

   .about-us {
      &__title {
         flex-direction: column;
         gap: 0;
      }

      &__header {
         align-self: flex-start;
      }

      &__line {
         width: 100%;
      }

      &__videos {
         flex-direction: column;
         align-items: center;
         gap: 20px;
      }

      &__main {
         &__img {
            display: none;
         }

         &__video {
            width: 100%;
            max-width: none;
            border-radius: 10px;
            overflow: hidden;
         }

         /* &__wraper {} */

         &__frame {
            position: static;
            transform: translateX(0);
            width: 100%;
         }
      }

      &__aside {
         &__videos {
            max-width: none;
            width: 100%;
            gap: 20px;
         }

         &__img {
            width: 40%;
         }

         &__text {
            font-size: calc(28px + (50 - 28) * ((100vw - 360px) / (768 - 360)));
         }

         &__btn {
            width: 11rem;
            height: 11rem;

            & img {
               width: 4rem;
               height: 3.4rem;
            }
         }
      }
   }

   .reviews {
      /* background-position: bottom; */

      &__container {
         flex-direction: column;
         align-items: center;
      }

      &__stars {
         margin-bottom: 60px;

         &__header {
            font-size: 34px;
         }
      }

      &__card {
         width: 100%;

         &__text {
            margin-bottom: 60px;
         }
      }
   }

   .news {
      &__title {
         flex-direction: column;
         gap: 0;
      }

      &__header {
         align-self: flex-start;
      }

      &__info {
         flex-direction: column;
         align-items: center;
      }

      &__main {
         width: 100%;
         max-width: none;

         &__img {
            width: 100%;
            margin-bottom: 10px;

            & img {
               width: 100%;
            }
         }
      }

      &__aside {
         max-width: none;
         width: 100%;

         &__info {
            flex-direction: column-reverse;
            /* align-items: center; */

            &>a {
               width: 100%;
            }

            &:last-child {
               display: none;
            }

            &:not(:last-child) {
               margin-top: 20px;
               padding-top: 20px;
               border-top: 0.5px solid #F1C9A5;
            }
         }

         &__text {
            width: 100%;
         }

         &__img {
            width: 100%;

            & img {
               width: 100%;
            }
         }
      }
   }

   .footer {
      &__container {
         justify-content: center;
      }
   }

}

@media(max-width:500px) {
   .consult {
      &__line {
         width: 100%;
      }

      &__opened {
         &__info {
            background-image: none;
         }

         &__btns {
            flex-direction: column;
            gap: 20px;
            max-width: 250px;
            align-self: center;
         }
      }

      &__closed {
         &__img {
            position: relative;
            max-width: 360px;
         }
      }
   }
}

@media(max-width:360px) {
   .consult {
      &__opened {
         &__text {
            font-size: 14px;
         }
      }
   }

   .diploma {
      &__header {
         font-size: 34px;
      }

      &__images {
         gap: 20px;
      }
   }

   .about-us {
      &__aside {
         &__text {
            font-size: 28px;
         }
      }
   }

   .reviews {
      &__stars {
         &__images {
            & img {
               width: 36px;
               height: 36px;
               gap: 10px;
            }
         }
      }
   }
}